.App {
  margin: 0 auto;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.colorPicker {
  display: flex;
  width: 500px;
  height: 300px;
  justify-content: center;
  align-items: center;

}